{% extends 'base2.html' %}
{% load static %}
{% block body %}
<div style="background-color:DarkSlateGrey;padding:20px">
        <table width="1000" align="center">
    <tr><th style="color:white">ADD TOPIC</th>
    </tr>
</table>
</div>
<style>
* {
  box-sizing: border-box;
}
p{background-color:DarkSlateGray ;
padding:10px;
color:white;
text-align:center}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  width:100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

label {
  padding: 10px 12px 10px 0;
  display: inline-block;
}

input[type=submit] {
  width:100%;
  background-color:DarkSlateGray ;
  color: white;
  padding:12px 430px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:center;
  margin-top: 25px;
}

input[type=submit]:hover {
  background-color: grey;
}

.container {
margin-top:20px;
  margin-bottom:20px;
  float:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 28px;



}

.col-25{
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75{
  float: left;
  width: 75%;
  margin-top: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
<div class="container" style="width:900px">
	<p>Add New Topic</p>

  <form action="" method="post">
      {% csrf_token %}
<div class="row">
    <div class="col-25">
      <label for="select Course">Select Course</label>
    </div>
    <div class="col-100">
    <select id="select Course" name="course">
        {% for i in course %}
      <option value="{{i.course_name}}">{{i.course_name}}</option>
        {% endfor %}
    </select>
    </div>
  </div>

 <div class="row">
    <div class="col-25">
      <label for="regular news">Topic Name</label>
    </div>
    <div class="col-100">
      <input type="text" id="regularnews" name="regular_news" placeholder="Topic Name">
    </div>
  </div>

      <div class="row">
    <div class="col-25">
      <label for="select level">Select level</label>
    </div>
    <div class="col-100">
    <select id="select level" name="level">
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
    </div>
  </div>

<div class="row">
 <div class="col-25">
      <label for="regular news"> Preparation of the Topic</label>
    </div>
 <textarea name="desc">Description</textarea>
</div>

  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
{% endblock %}