
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <title>Online Quiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel = stylesheet href = "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
  </script>
  <style>

input[type=submit] {
  background-color: DarkSlateGrey;
  border: none;
  color: darkgrey;

  text-decoration: none;
  cursor: pointer;
}

  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-info navbar-dark" style="background-color:white">




    <ul class="nav navbar-nav">
      <li class="navbar-brand" style="color:DarkSlateGrey"><h4>ONLINE QUIZ SYSTEM</h4></li>
      <li class="navbar-brand"><a href="{% url 'studentdashboard' %}" style="color:darkgrey">Dashboard</a></li>
      <li class="navbar-brand"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:darkgrey;bottom-padding:18px">My Administrator  <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'courselist' %}">Course List</a></li>
          <li><a href="{% url 'myresult' request.user.id %}">My Result</a></li>
        </ul>
      </li>

      <li class="navbar-brand"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:darkgrey;bottom-padding:18px">My Account  <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'myaccountstudent' request.user.id %}">My Account</a></li>
          <li><a href="{% url 'changepassword2' request.user.id %}">Change Password</a></li>
        </ul>
        </li>

        <li class="navbar-brand"> <a href="#" style="color:Black margin-top:25px">Welcome {{request.user.first_name}} {{request.user.last_name}}</a></li>

        <li class="navbar-brand"><a href="{% url 'logout' %}" style="color:darkgrey">Logout</a></li>
    </ul>

</nav>


{% block body %}
{% endblock %}

</body>

</html>
