{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>.container {
margin-top:20px;
  margin-bottom:20px;
  width:1100px;
  float:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 28px;



}
</style>
<div style="background-color:darkslategrey;padding:20px;color:white">
        <table width="1000" align="center">
    <tr><th>CONTACT</th>
    </tr>
</table>
    </div><br><br><div class="container">
<table width="1000" align="center">


<th><th>    <table width="300" style="border:1px groove">
        <tr>
        <td><h4>ADDRESS</h4><h6>Sonagiri sector A lig-35<br>City: Bhopal<br>Pin Code:462022</h6></td>
        </tr></table><br>

                <table width="300" style="border:1px groove">
        <tr>
        <td><h4>BUSSINESS HOUR</h4><h6>Monday to Saturday<br>10:00 to 4:00<br>Lunch hour: 1:00 to 1:45<br>Sunday Close</h6></td>
        </tr>

                </table><br>
<table width="300" style="border:1px groove">
        <tr>
        <td><h4>TELEPHONE</h4><h6>+30621-222662<br>+06321-222662<br>+9177660894779</h6></td>
        </tr>

                </table></th>

<th>
<table width="700" align="center" class="ml-5">
    <tr>
    <th><form action="" method="post">
        {% csrf_token %}
        <center>DROP US A LINE SO THAT WE CAN HEAR FROM YOU</center><br><br>
    NAME<BR>
    <input type="text" name="name" style="HEIGHT:30PX;width:700px">
        Email<br>
    <input type="email" name="email"  style="HEIGHT:30PX;width:700px">
        PHONE<br>
    <input type="text" name="phone"  style="HEIGHT:30PX;width:700px">
        Message<br>
        <textarea name="message"  style="HEIGHT:30PX;width:700px"></textarea>
    <br><br>
        <br><br><center><input type="submit" placeholder="SUBMIT" style="HEIGHT:30PX;width:67px"></center>

    <BR>
    </form></center></th>
    </tr>

</table>
</th></tr></table>
</div>



{% endblock %}