{% extends 'base.html' %}
{% load static %}
{% block body %}
<div style="background-color:DarkSlateGrey;padding:20px">
        <table width="1000" align="center">
    <tr><th style="color:white">REGISTER TUTOR DETAIL</th>
    </tr>
</table>
</div>
<style>
p{background-color:DarkSlateGray ;
padding:10px;
color:white;
text-align:center
}

input[type=text] ,input[type=date],input[type=file] ,input[type=password],input[type=email],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: DarkSlateGray;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.container {
margin-top:20px;
  margin-bottom:20px;
  width:900px;
  float:center;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 28px;



}


</style>
<body>

<div class="container">
<p>Add New User</p>
<table width="850">

  <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

<tr>
	<th><h3>Tutor Login Detail</h3><hr></th>
</tr>
    <tr>
    <th><label for="fname">First Name</label>
    <input type="text" id="fname" name="fname" placeholder="User First name"></th>
    <th><label for="lname">Last Name</label>
    <input type="text" id="lname" name="lname" placeholder="User Last Name"></th>

 </tr>
 <tr>
    <th><label for="Login ID">Login ID</label>
    <input type="text" id="loginid" name="loginid" placeholder="Username"></th>
    <th><label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password"></th>
 </tr>
  <tr>
    <th><label for="cpassword">Conform Password</label>
    <input type="password" id="cpassword" name="cpassword" placeholder="Conform Password"></th>
</tr>
<tr>
	<th><h3>Tutor Personal Detail</h3><hr></th>
</tr>
<tr>
	<th><label for="gender">Gender</label><br><br>
	<input type="radio" id="gender" name="gender" value="Male"style="display: inline-block">Male
	<input type="radio" id="gender" name="gender" value="Female" style="display: inline-block">Female</th>
 	<th><label for="email">User Email</label>
	<input type="email" id="email" name="email" placeholder="User Email"></th>
</tr>
<tr>
	<tr>
    <th><label for="mobile">User Mobile</label>
    <input type="text" id="mob" name="mob" placeholder=" User Mobile"></th>
    <th><label for="dob">User Date Of Birth</label>
    <input type="date" id="dob" name="dob" placeholder="User Date Of Birth"></th>
 </tr>
 <tr>
    <th><label for="address1">User Address Line1</label>
    <input type="text" id="address1" name="address1" placeholder="User Address Line1"></th>
    <th><label for="address2">User Address Line2</label>
    <input type="text" id="address2" name="address2" placeholder="User Address Line2"></th>
 </tr>
<tr>
     <th><label for="user_city">User City</label>
    <input type="text" id="user_city" name="user_city" placeholder="your city"></th></th>
     <th><label for="user_state">User State</label>
    <input type="text" id="user_state" name="user_state" placeholder="your state"></th></th>
    </th>
 </tr>
<tr>
     <th><label for="user_country">User Country</label>
         <input type="text" id="user_country" name="user_country" placeholder="your country"></th>
<th><label for="image">User Picture</label>
<input type="file" name="image" placeholder="choose file">
    </tr>


      </table>

    <input type="submit" value="Submit">
  </form>

</div>
{% endblock %}