{% extends 'base2.html' %}
{% load static %}
{% block body %}
<style>
    .button1{
    background-color:LawnGreen;
    color:white;
    border-color:LawnGreen;
    }
    .button2{
    background-color:red;
    color:white;
    border-color:red;
    }
    #myTable{border-color:white;}
</style>
<div style="background-color:DarkSlateGrey;padding:20px">
        <table width="1000" align="center">
    <tr><th style="color:white">TOPIC DETAILS</th>
    </tr>
</table>
</div>
<div class="container" style="padding:20px;border:0px solid white">
<table class="table table-bordered" id="myTable" style="border:0px solid white">
  <thead style="background-color:DarkSlateGrey;color:white;border-color:white">
  <tr>
    <th>Se_No.</th>
      <th>Topics Name</th>
    <th>Level</th>
       <th style="width:550px">Topic Description</th>
    <th>Action</th>

  </tr>
  </thead>
   <tbody style="border-color:white">

    {% for i in topicdetail %}

  <tr>

    <td>{{forloop.counter}}</td>
      <td>{{i.topic}}</td>
       <td>{{i.level}}</td>
      <td>{{i.description}}</td>
    <td><a href="{% url 'deletetopic' i.id %}"><button class="button button1">delete</button></a>
      <a href="{% url 'edittopic' i.id %}"><button class="button button2">edit</button></a></td>

  </tr>

    {% endfor %}
    </tbody>

</table>

</div>
{% endblock %}